<mat-toolbar color="primary">

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>  
  <mat-menu #menu="matMenu">
    <a [routerLink]="['/home']"><button mat-menu-item>Home</button></a>
    <a [routerLink]="['/posts']"><button mat-menu-item>Postagens</button></a>
    <a [routerLink]="['/albuns']"><button mat-menu-item>Albuns</button></a>
    <a [routerLink]="['/todos']"><button mat-menu-item>To-dos</button></a>
  </mat-menu>
  
  <span class="example-fill-remaining-space"></span>
  
  <span>{{ screenName }}</span>

</mat-toolbar>
  
<router-outlet></router-outlet> 