.container-fluid.main {
  padding: 0;
  height: 100%;
  background-color: #673ab7 !important;
}

.covertext {
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.title-b {
  color: #fdba83;
}

.subtitle {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle a {
  color: #fdba83;
}
