<div class="container-fluid main">

    <div class="image image-fade slide" data-ride="image" data-interval="3000">
        <div class="image-inner" role="listbox">
            <div class="item active background a"></div>
        </div>
    </div>

    <div class="covertext">
        <div class="col-lg-10" style="float:none; margin:0 auto;">
            <h1 class="title">Teste técnico <br> <span class="title-b">Front-end</span></h1>
            <h3 class="subtitle">Teste elaborado por <a href="https://www.linkedin.com/in/thiagodellanoce/" target="_blank">Thiago Della Noce</a></h3>
        </div>
        <div class="col-xs-12 explore">
            <a routerLink="/posts">
                <button mat-raised-button color="#fdba83">Ver agora!</button>
            </a>
        </div>
    </div>

</div>